/* browser_memo */

body {
    font-size: 96%;
}

.container {
    max-width: 40rem;
    margin: 3rem auto;
    font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
}

.container div {
    margin: 3rem 0;
}

h1.content_title {
    color: #ccc;
    font-size: 130%;
    font-weight: normal;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
}

/* 文字入力エリアと保存、削除ボタン */
.memo_area, .button_box button {
    color: #666;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

/* 文字入力エリア */
.memo_area {
    width: calc(100% - 2rem);
    height: 30rem;
    padding: 1rem;
    background: #fff;
}

.memo_area:focus {
    outline: none;
}

.button_box button {
    display: inline-block;
    padding: 1rem;
    width: 48%;
    cursor: pointer;
    color: #999;
    transition: all .1s ease-out;
}

.button_box button:hover {
    color: #666;
}

.button_box .memo_save {
    background: rgba(128, 205, 237, .15);
}

.button_box .memo_save:hover {
    background: rgba(128, 205, 237, .3);
}

.button_box .memo_delete {
    background: rgba(200, 200, 200, .15);
}

.button_box .memo_delete:hover {
    background: rgba(200, 200, 200, .3);
}

/* ボタンをまとめた要素 */
.button_box {
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}

/* 保存、読み込みステータス文言 */
.state {
    font-size: 88%;
    color: #aaa;
    text-align: center;
}


